{% extends "base.html" %}

{% block content %}
    <h1>Liste des cours</h1>
    <a href="{% url 'add_course' %}" class="btn btn-primary">Ajouter un cours</a>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Classe</th>
                <th>Matière</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ course.name }}</td>
                    <td>{{ course.schoolclass }}</td>
                    <td>{{ course.get_subject_display }}</td>
                    <td>
                        <a href="{% url 'course_detail' course.id %}">Détails</a> |
                        <a href="{% url 'edit_course' course.id %}">Modifier</a> |
                        <a href="{% url 'delete_course' course.id %}">Supprimer</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">Aucun cours disponible.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
