{% extends 'base.html' %}

{% block content %}
  <h2>Liste des établissements</h2>
  <a href="{% url 'add_establishment' %}" class="btn btn-primary">Ajouter un établissement</a>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Modifier</th>
        <th scope="col">Supprimer</th>
      </tr>
    </thead>
    <tbody>
      {% for establishment in establishments %}
        <tr>
          <td><a href="{% url 'establishment_detail' establishment.pk %}">{{ establishment.name }}</a></td>
          <td><a href="{% url 'establishment_update' establishment.pk %}" class="btn btn-secondary">Modifier</a></td>
          <td><a href="{% url 'establishment_delete' establishment.pk %}" class="btn btn-danger">Supprimer</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
