{% extends 'base.html' %}

{% block content %}
  <h2>Liste des types établissements</h2>
  <a href="{% url 'establishment_type_add' %}" class="btn btn-primary">Ajouter un type d'établissement</a>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Modifier</th>
        <th scope="col">Supprimer</th>
      </tr>
    </thead>
    <tbody>
      {% for establishmentType in establishmentTypes %}
        <tr>
          <td><a href="{% url 'establishment_type_detail' establishmentType.pk %}">{{ establishmentType.name }}</a></td>
          <td><a href="{% url 'establishment_type_update' establishmentType.pk %}" class="btn btn-secondary">Modifier</a></td>
          <td><a href="{% url 'establishment_type_delete' establishmentType.pk %}" class="btn btn-danger">Supprimer</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
