{% extends "base.html" %}

{% block content %}
    <h2>Dashboard</h2>
    <p>Pseudo: {{ request.user.username }}</p>
    <p>Identité : {{ request.user.first_name }} {{ request.user.last_name }}</p>
    <p>Email: {{ request.user.email }}</p>
    <p>adresse: {{ request.user.address }}</p>
    <p>téléphone : {{ request.user.phone_number }}</p>

    <a href="{% url 'edit_profile' %}" class="btn btn-primary">Modifier mon profil</a>

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Déconnexion</button>
    </form>
    {% for enfant in user.children.all %}
    <li>
        <a href="{% url 'profil_enfant' child_id=enfant.id %}">{{ enfant.first_name }} {{ enfant.last_name }}</a>
    </li>
    {% endfor %}
{% endblock %}
